# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# Streamlit
.streamlit/

# FAISS / Local Database
database/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db