streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters

faiss-cpu
sentence-transformers
torch
transformers

google-genai
python-dotenv

pypdf
python-docx

rank-bm25
scikit-learn
numpy
pandas
requests